*{
    margin: 0;
    padding: 0;
}
body {
	background-color: #fafafa;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	margin: 0;
	transition: background 0.2s linear;
}

.container{
    width: 1275px;
    height: 100%;
    font-family: 'Comfortaa';
    background: #FFDBAF;
    display: block;
    margin: 0 auto;
}
.card-header{
    background-image: url(..//img/card-bg-light.png);
    background-repeat: no-repeat;
    height: 1000px;
    font-family: 'Comfortaa';
}
header{
    background-image: url(..//img/MacBook\ Air\ -\ 4.png);
    
    background-repeat: no-repeat;  
    height: 1000px;
}
.coffe-card{
	display: flex;
    justify-content: space-around;
    align-items: center;
}
.kontent{
    width: 600px;
    height: 200px;
    position: relative;
    right: 20px;
}
.img-coffe img{
    width: 450px;
    height: 450px;
    border-radius: 20px;
    position: relative;
    top: 70px
}

@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

* {
	box-sizing: border-box;
}
body.dark {
	background: #292C35;
}
.header-dark{
    background-image: url(..//img/headerdark.png);
    
}
.a-dark{
    color: white;
}
.p-dark{
    color: white;
}
.container-dark{
    background: rgb(138, 74, 22);
}
.main-dark{
    background: rgb(138, 74, 22);
}
.checkbox {
	opacity: 0;
	position: absolute;
}

.label {
	background-color: #111;
	border-radius: 50px;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 5px;
	position: relative;
	height: 26px;
	width: 50px;
	transform: scale(1.5);
}

.label .ball {
	background-color: #fff;
	border-radius: 50%;
	position: absolute;
	top: 2px;
	left: 2px;
	height: 22px;
	width: 22px;
	transform: translateX(0px);
	transition: transform 0.2s linear;
}

.checkbox:checked + .label .ball {
	transform: translateX(24px);
}


.moon{
	width: 15px;
    height: 15px;
    margin-left: 3px;
    margin-top: 3px;

}

.sun{
	width: 15px;
    height: 15px;
    margin-left: 5px;
    margin-top: 20px;
}


  nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
    top: 20px;
    margin: px;
}
#button {
    display: none;
    visibility: hidden;
    
}
.block {
    width: 25px;
    height: 5px;
    background: #000;
    position: absolute;
    left: calc(50% - 12.5px);
    top: 20px;
    transition: 0.3s;
    display: none;
  }
  .block:after,
  .block:before {
    content: "";
    width: 100%;
    height: 100%;
    background: #000;
    position: absolute;
    transition: 0.3s;
  }
  .block:after {
    top: 9px;
  }
  .block:before {
    bottom: 9px;
  }
  #button:checked ~ .button > .block {
    background: transparent;
  }
  #button:checked ~ .button > .block:after {
    transform: rotate(45deg);
    top: 0;
  }
  #button:checked ~ .button > .block:before {
    transform: rotate(-45deg);
    bottom: 0;
  }
  #button:checked ~ .menu  {
    height: 79px;
  }
  #button:checked ~ .menu > .menu_item:not(.logo) {
    display: none;
  }
.header-content-desktop{
    position: relative;
    top: 100px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.header-content-desktop div{
    width: 300px;
    height: 100px;
    visibility: hidden;
    display: flex;
}

.header-content-tablet{
    display: none;
    visibility: hidden;
}
.header-content-desktop p{
    width: 595px;
    height: 545px;
    margin-right: 80px;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    color: #5D4A39;
}

.logo{

    align-self: center;
    width: 475.69px;
    height: 64.82px;
}
h1{
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 36px;
    color: #000000;
}
a{
    color: #000000;
}

header a{
    margin-left: 40px;
    font-family: 'Comfortaa';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 36px;
    color: #000000;
    text-decoration: none;
}
.card-header a{
    margin-left: 40px;
    font-family: 'Comfortaa';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 36px;
    color: #000000;
    text-decoration: none;
}
header a:hover{
    opacity: 0.5;
}

main{
    background: #FFDBAF;
}
.main-h1{
    text-align: center;
    margin: 30px;

}
.main-p1{
    display: block;
    text-align: center;
    margin: 0 auto;
    width: 1144px;
}
p{
    
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 27px;
    color: #000000;
}
.menu-div01 img{
    border-radius: 20px;
}
.menu h1{
    text-align: center;
}
.menu-flex{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.menu-flex div{
    width: 300px;
    height: 300px;
    margin: 20px;
    
}

.menu-flex img{
    width: 100%;
    height: 100%;
    border-radius: 20px;
}
a{
    text-decoration: none;
}
footer{
    width: 100%;
    height: 468px;
    background: #FFE8CB;
    
}
.up-button {
    position: fixed;
    z-index: 1;
    padding: 0;
    bottom: 15px;
    right: 40px;
    width: 64px;
    height: 64px;
    font-size: 36px;
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
    border: 5px solid;
    border-radius: 50%;
    display: none;
    cursor: pointer;
   }
   .up-button img{
        width: 20px;
        height: 20px;
   }
.shown {
    display: inline-block;
}
   
@media  (min-width: 481px) and (max-width: 739px){
    *{
        margin: 0;
        padding: 0;
    }
    .container{
        max-width: 739px;
    }
    header{
        background-image: url(..//img//Vector\ 6.png);
        display: flex;
        flex-direction: column;
    }
    .card-header{
        background-image: url(..//img//Vector\ 6.png);
    }
    header .header-content-tablet{
        align-self: center;
    }
    nav a{
        display: none;
        visibility: hidden;
    }
    #button{
        display: block;
        visibility: visible;
    }
    .block{
        display: block;
    }
    nav label{
        display: none;
        visibility: hidden;
    }
    nav input{
        display: none;
        visibility: hidden;
    }
    nav{
        display: flex;
        justify-content: center;
    }
    .header-content-desktop{
        display: none;
        visibility: hidden;
    }
    
    
    .header-content-tablet{
        display: block;
        visibility: visible;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        top: 80px;
    }
    .header-content-tablet p{
        width: 500px;
        height: 300px;
        text-align: center;
        font-size: 43px;
        align-self: center;
        line-height: 60px;
    }
    .menu h1{
        margin-bottom: 80px;
        text-align: center;
    }
    .menu{
        
        
    }
    .menu-flex{
        display: flex;
        flex-wrap: wrap;
        
    }
    .menu-flex div{
        margin: 1px;
    }
    .menu-flex img{
        width: 230px;
        height: 230px;
    }
    .coffe-card{
        display: flex;
        flex-direction: column;
    }
    .coffe-card h1{
        text-align: center;
    }
    .coffe-card p{
        font-size: 24px;
        line-height: 35px;
        text-align: center;
    }
    .coffe-card img{
        width: 300px;
        height: 300px;
    }
    .kontent{
        position: relative;
        top: 80px;
    }
}
@media (max-width: 480px){
    header{
        background-image: url(..//img//Vector\ 6.png);
        display: flex;
        flex-direction: column;
    }
    nav a{
        display: none;
        visibility: hidden;
    }
    #button{
        display: block;
        visibility: visible;
    }
    .block{
        display: block;
    }
    nav label{
        display: none;
        visibility: hidden;
    }
    nav input{
        display: none;
        visibility: hidden;
    }
    nav{
        display: flex;
        justify-content: center;
    }
    .header-content-desktop{
        display: none;
        visibility: hidden;
    }
    
    
    .header-content-tablet{
        display: block;
        visibility: visible;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        top: 80px;
    }
    .header-content-tablet p{
        width: 500px;
        height: 300px;
        text-align: center;
        font-size: 43px;
        align-self: center;
        line-height: 60px;
    }
    .menu h1{
        margin-bottom: 80px;
        text-align: center;
    }
    .menu{
        
        
    }
    .menu-flex{
        display: flex;
        flex-wrap: wrap;
        
    }
    .menu-flex div{
        margin: 1px;
    }
    .menu-flex img{
        width: 230px;
        height: 230px;
    }
    .coffe-card{
        display: flex;
        flex-direction: column;
    }
    .coffe-card h1{
        text-align: center;
    }
    .coffe-card p{
        font-size: 24px;
        line-height: 35px;
        text-align: center;
    }
    .coffe-card img{
        width: 300px;
        height: 300px;
    }
    .kontent{
        position: relative;
        top: 80px;
    }
}
footer{
    background: #432311;
}